/* General CSS */
body {
    width: 80%;
    margin: auto;
    background-color: #F3F3F1;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    font-size: 18px;
}

.link-change-background:hover {
    background-color: lightgray;
    border-radius: 5px;
}

h1 {
    color: darkgray;
}

/* Navbar Modifications */
.nav-link {
    text-align: center;
    margin-left: 20px;
}

/* Main Content */
.container {
    max-width: 100%;
    margin-top: 10px;
    padding: 0px;
}

#index_me {
    text-align: center;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.row {
    margin: 0px;
}

.padding-zero {
    padding: 0px;
    margin: auto;
}

/* Footer CSS */
footer {
    background-color: #e3f2fd;
    height: auto;
    margin-top: 10px;
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    padding: 10px;
}

.footerLinks {
    margin-right: 20px;
    margin-left: 20px;
}

.contactInformation {
    text-align: center;
}

.normalText {
    font-size: 15px;
}

.smalltext {
    font-size: 10px;
}

/* About Page */
.card-group {
    margin-top: 10px;
}

.about-p {
    text-align: center;
    margin: auto;
}

.vertical-align {
    margin: auto;
}

.center-text {
    text-align: center;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    margin-bottom: 0px;
}

/* Projects */
#underconstruction_image {
    display: block;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    max-width: 340px;
    height: auto;
}

/* Contact Page */
.contactMe {
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 5px;
}

.contactMe .row .col-12 h2 {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}

.contactMe .row {
    width: 100%;
    margin: auto;
}

.form-control {
    margin: auto;
}

#submit:hover {
    background-color: lightblue;
    color: white;
}
