#body {
    background-color: #F3F3F1;
    width: 70%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar {
    background-color: #D5EBE8;
    display: block;
    height: 50px;
}

#navbar_list {
    display: block;
    list-style: none;
    display: flex;
    padding: 0px;
}

#navbar_list li {
    margin: auto;
}

#navbar_list li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

#photo_of_me {
    max-width: 100%;
    height: auto;
}

#navbar_image {
    height: 50px;
    width: 50px;
}

footer {
    background-color: #D1E0D1;
    height: auto;
}

.mainContent {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.infoAboutMe {
    flex: auto;
    font-size: 20px;
    padding: 200px 0;
    text-align: center;
    max-width: 50%;
    padding-right: 10px;
}

.photoOfMe {
    flex: auto;
    width: 50%;
    height: 50%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
}

.footerLinks a {
    margin-right: 20px;
    margin-left: 20px;
}

.contactInformation {
    text-align: center;
}

.smalltext {
    font-size: 10px;
    display: inline;
}

.normalText {
    font-size: 15px;
}

.mainContent {
    display: flex;
    widows: 100%;
}

.mainContent .mainInformation {
    flex: auto;
    width: 50%;
    text-align: center;
    padding: 160px 0;
    margin-right: 10px;
    background-color: gray;
    color: white;
}

.aboutmePhoto {
    width: 50%;
}

#aboutme_photo {
    max-width: 100%;
    height: auto;
}

.projectPageImage {
    width: 100%;
}

.projectPageImage img{
    height: 400px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projectPageInformation {
    display: block;
    text-align: center;
    color: red;
}

.contactPage h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#contact_me {
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

fieldset {
    display: block;
}

#contact_me input {
    width: 40%;
    border-radius: 5px;
}

#explain_input {
    height: 200px;
}

.mainContent .mainInformation {
    font-size: 20px;
}